<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:rgb(10, 10, 12);">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></i>
        <p> <i class="fas fa-seedling" style="color: rgb(35, 172, 99);"></i><B>LOGO</B></p>
        <!---<img src="/static/img/logo.jpg"  height="50" width="30" style="border-radius: 100%;" class="brand_img" />-->
        <!---<img src="/static/img/logo.jpg" width="50" height="50">--->
      
      </div>
      <div class="col-md-4">
        <i class="fas fa-leaf"  style="color: rgb(35, 172, 99);"></i> Bwana Shamba Tz
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#"> <i class="fab fa-twitter text-white"></i> </a>
          <a href="#"> <i class="fab fa-facebook text-white"></i> </a>
          <a href="#"> <i class="fab fa-linkedin text-white"></i> </a>
          <a href="#"> <i class="fab fa-instagram text-white"></i> </a>
          <a href="#"> <i class="fab fa-pinterest text-white"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
